BRIGHTDATA_COLLECTOR_ID=
BRIGHTDATA_SOURCE_ID=zfh
BRIGHTDATA_SOURCE_URL=https://careers.zerodhafundhouse.com/jobs
BRIGHTDATA_TARGET_URL=https://careers.zerodhafundhouse.com/jobs
BRIGHTDATA_MIN_ROWS=1
BRIGHTDATA_REQUIRED_FIELDS=source_job_id,title,location
BRIGHTDATA_IDENTITY_FIELD=source_job_id
BRIGHTDATA_EXPECTED_HOST=
BRIGHTDATA_MIN_COVERAGE=0.75
BRIGHTDATA_URL_FIELD=url
BRIGHTDATA_SCOPE_KIND=all_jobs
BRIGHTDATA_EMPTY_STATE_VERIFIED=false
APPLYSIGNAL_DB=data/applysignal.db
