BRIGHTDATA_COLLECTOR_ID=
BRIGHTDATA_SOURCE_ID=zfh
BRIGHTDATA_SOURCE_URL=https://careers.zerodhafundhouse.com/jobs
BRIGHTDATA_TARGET_URL=https://careers.zerodhafundhouse.com/jobs
BRIGHTDATA_MIN_ROWS=1
APPLYSIGNAL_DB=data/applysignal.db
